.nome-cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border: 3px solid black;
    border-radius:50%;
    color:green;
    font-size: 2rem;
}

.nome-cabecalho:hover{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 30rem;
    color:red;
    transition: 1.5s;
}

.links-cabecalho{
    position: absolute;
    display: flex;
    align-items: center ;
    justify-content: center;
    right: 10%;
    bottom: 0;
    gap: 14%;
    margin: 0 50px 30px 50px;
    word-wrap: normal;
    text-decoration: none;
    
}
.links-cabecalho a{
    opacity: 5px;
    color: rgb(133, 133, 133);
    text-decoration: none;
}


